*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* TOP-NAV */
#top-nav{
    display: flex;
    height: 80px;
    align-items: center;
    padding-left: 20px;
}

/* MAIN */
.display-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.display-container > h2{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
.display-container > div{
   margin: 10px;
   padding: 10px;
   border: 1px solid black;
} 
.display-container .language{
    width: 30px;
}
.display-container .language > img{
    width: 100%;
}
.not_found{
    width: 342px;
}