*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app{

    padding: 0 15px;
}
/* TOP-NAV */
#top-nav{
    display: flex;
    height: 80px;
    align-items: center;
}
.film-container figure{
    width: 30px;
}
.film-container figure img{
    width: 100%;
}