*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app{
    background-color: #141414;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}
/* HOME */
#home{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-top: 200px;
}
#home .logo{
    width: 500px;
    padding-bottom: 50px;
}
#home .logo img{
    width: 100%;
} 
#home input{
    width: 300px
}
#home button{
    cursor: pointer;
    margin-top: 30px;
    padding: 10px;
}
/* MAIN */
/* HEADER */
header{
    height: 100px;
    display: flex;
    align-items: center;
}
header img{
    height: 60px;
    margin-left: 20px;
}

/* NAV */
#res-container nav{
    display: flex;
    margin-top: 20px;
    justify-content: center;    
}
nav h2{
    cursor: pointer;
    color: #fff;
    margin: 20px;
}
.selected{
    border-bottom: 1px solid #fff;
}

/* DISPLAY */
.display-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.single-container{
    position: relative;
    margin: 40px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.single-container .text{
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 10px;
}
.single-container:hover figure{
    opacity: .1;
}
.single-container:hover .text{
    display: flex;
}
.display-container .text>*{
    margin: 10px;
    text-align: center;
}
.display-container > h2{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
.display-container .language{
    width: 30px;
}
.display-container .language > img{
    width: 100%;
}
.not_found{
    width: 342px;
}
.vote{
    display: flex;
}
.star-color{
    color: gold
}
.single-container p{
    overflow: auto;
}
.no-match{
    color: #fff;
    font-size: 24px;
    margin-top: 40px;
}