<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- VUE.JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- AXIOS CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0-0/axios.min.js"></script>
    <!-- FONT-AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <!-- LOCAL CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- LOCAL JS -->
    <script src="js/app.js"></script>
    
    <title>Boolfix</title>
</head>

<body>
    <div id="app">
        <section id="top-nav">
            <div class="search-bar">
                <input type="text" 
                    v-model="searchBarTxt" 
                    v-on:keyup.enter="searchTxt">
            </div>
            <button 
                @click="searchTxt">
                Search
            </button>
        </section>

        <main>
            <section id="res-container">
                <div class="display-container films">
                    <h2 v-if="filmsToDisplay.length > 0">Films</h2>
                    <div v-for="film in filmsToDisplay">
                        <figure>
                            <img v-if="film.poster_path != null"  :src="`https://image.tmdb.org/t/p/w342/${film.poster_path}`" alt="">
                            <img v-else src="img/not_found.jpeg" alt="" class="not_found">
                        </figure>
                        <h3 class="title">{{ film.title }}</h3>
                        <h4 class="title original">{{ film.original_title }}</h4>
                        <div class="language">
                            <img :src='`img/${film.original_language}.png`' :alt="film.original_language">
                        </div class="language">
                        <p>{{ film.vote_average }}</p>
                    </div>
                </div>

                <div class="display-container tv-shows">
                    <h2 v-if="showsToDisplay.length > 0">Tv Shows</h2>
                    <div v-for="show in showsToDisplay">
                        <figure>
                            <img v-if="show.poster_path != null" :src="`https://image.tmdb.org/t/p/w342/${show.poster_path}`" alt="">
                            <img v-else src="img/not_found.jpeg" alt="" class="not_found">
                        </figure>
                        <h3 class="title">{{ show.name }}</h3>
                        <h4 class="title original">{{ show.original_name }}</h4>
                        <div class="language">
                            <img :src='`img/${show.original_language}.png`' :alt="show.original_language">
                        </div>
                        <p>{{ show.vote_average }}</p>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
</html>