<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- VUE.JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- AXIOS CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0-0/axios.min.js"></script>
    <!-- FONT-AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <!-- LOCAL CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- LOCAL JS -->
    <script src="js/app.js"></script>
    
    <title>Boolfix</title>
</head>

<body>
    <div id="app">
        <section v-if="filmsToDisplay.length == 0 && showsToDisplay.length == 0" id="home">
            <div class="logo">
                <a href="#"><img src="img/logo.png" alt=""></a>
            </div>
            <div class="search-bar">
                <input type="text"
                    placeholder="Search" 
                    v-model="searchBarTxt" 
                    v-on:keyup.enter="searchTxt">
            </div>
            <button 
                @click="searchTxt">
                Search
            </button>
        </section>

        <main v-else>
            <section id="res-container">
                <header>
                    <a href="#" @click="goHome"><img src="img/logo.png" alt=""></a>
                </header>

                <nav>
                    <h2 :class="!cardSwap ? 'selected' : ''"
                        @click="displayMovies">
                        Movies
                    </h2>
                    <h2 :class="cardSwap ? 'selected' : ''"
                        @click="displayShows">
                        Tv Shows
                    </h2>
                </nav>

                <div v-if="!cardSwap" class="display-container">

                    <div class="single-container" 
                        v-for="film in filmsToDisplay">

                        <figure>
                            <img v-if="film.poster_path != null"  
                                :src="`https://image.tmdb.org/t/p/w342/${film.poster_path}`" 
                                alt="">
                            <img v-else 
                                class="not_found"
                                src="img/not_found.jpeg" 
                                alt="">
                        </figure>

                        <div class="text">
                            <h3 class="title">
                                {{ film.title }}
                            </h3>
                            <h4 class="title original">
                                {{ film.original_title }}
                            </h4>
                            <div class="language">
                                <img :src='`img/${film.original_language}.png`' :alt="film.original_language">
                            </div class="language">
                            <div class="vote star-color">
                                <i v-for="num in film.vote_average" 
                                    class="fas fa-star"></i>
                                <i v-for="num in (maxVote - film.vote_average)"        class="far fa-star"></i>
                            </div>
                            <p>{{ film.overview }}</p>
                        </div>
                    </div>

                    <div class="no-match" v-if="filmsToDisplay.length == 0">
                        No movie match for {{ searchBarTxt }}
                    </div>
                </div>

                <div v-else class="display-container">

                    <div class="single-container" 
                        v-for="show in showsToDisplay">

                        <figure>
                            <img v-if="show.poster_path != null" 
                                :src="`https://image.tmdb.org/t/p/w342/${show.poster_path}`" 
                                alt="">
                            <img v-else 
                                class="not_found"
                                src="img/not_found.jpeg" 
                                alt="">
                        </figure>

                        <div class="text">
                            <h3 class="title">
                                {{ show.name }}
                            </h3>
                            <h4 class="title original">
                                {{ show.original_name }}
                            </h4>
                            <div class="language">
                                <img :src='`img/${show.original_language}.png`' :alt="show.original_language">
                            </div>
                            <div class="vote star-color">
                                <span v-for="num in show.vote_average">
                                    <i class="fas fa-star"></i>
                                </span>
                                <span v-for="num in (maxVote - show.vote_average)">
                                    <i class="far fa-star"></i>
                                </span>
                            </div>
                            <p>{{ show.overview }}</p>
                        </div>
                    </div>

                    <div class="no-match" v-if="showsToDisplay.length == 0">
                        No TV Show match for {{ searchBarTxt }}
                    </div>

                </div>
            </section>
        </main>
    </div>
</body>
</html>